{% include 'base.html' %}

{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Hospital Management</title>
    <link rel="stylesheet" href="styles.css"> 
</head>
<body>
    <header>
        <nav>
            
        </nav>
    </header>

    <section class="About-section">
        <h1 class="text-center">About Us</h1>
        <p class="text-center font-weight-light-dark">Welcome to Hospital Management, where we are dedicated to providing high-quality healthcare...</p>
        
        <h2 class="text-center">Our Mission</h2>
        <p class="text-center">To deliver compassionate and comprehensive medical services to our community...</p>
        
        <h2 class="text-center">History</h2>
        <p class="text-center">Founded in [2023], our hospital has grown from a small clinic to a leading medical institution...</p>
        
        <h2 class="text-center">Leadership Team</h2>
        <p class="text-center">Meet the dedicated individuals who lead our hospital...</p>
        
        <h2 class="text-center">Facilities</h2>
        <p class="text-center">We are equipped with state-of-the-art facilities including [list of facilities]...</p>
        
        <h2 class="text-center">Services</h2>
        <p class="text-center">Our hospital offers a wide range of medical services including [list of services]...</p>
        
        <h2 class="text-center">Accreditations</h2>
        <p class="text-center">We are proud to be accredited by [accrediting organization]...</p>
        
        <h2 class="text-center">Quality of Care</h2>
        <p class="text-center">At Hospital Management, patient safety and satisfaction are our top priorities...</p>        
        <h2 class="text-center">Contact Us</h2>
        <p class="text-center">If you have any questions or would like to reach out to us, please use the contact information below...</p>
    </section>
</body>
</html>

{% endblock content%}
{% include 'footer.html' %}





