<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <title>Hospital Management system</title>
</head>
	<nav class="navbar navbar-expand-lg ml-auto mb- mb-lg-0 navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">HMS</a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
                <ul class="navbar-nav ml-auto">
                     {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>
                   <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    {% elif request.user.role_type == 1 %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'pf' %}">My Profile</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'docview' %}">My Patients</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'docdashboard' %}">DashBoard</a>
                    </li>
                    

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'lgot' %}">Logout</a>
                    </li>
                    {% elif request.user.role_type == 2 %}
                       <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'pf' %}">My Profile</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'create_problem' %}">Add Problems</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'patient_dashboard' %}">View Solutions</a>
                    </li>

              

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'lgot' %}">Logout</a>
                    </li>
                   
                
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'lgot' %}">Logout</a>
                    </li>
                    {% endif %}                 
                </ul>
            </div>
        </div>
    </nav>
    {% block content %}
 
    {% endblock content %}
    {% include 'footer.html' %}

</body>
</html>
